<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyIncome</key>
	<array>
		<string>10万以下</string>
		<string>10-15万</string>
		<string>15-25万</string>
		<string>25-50万</string>
		<string>50-100万</string>
		<string>100万以上</string>
	</array>
	<key>AppointmentSeatType</key>
	<array>
		<string>吧台</string>
		<string>卡座</string>
		<string>包厢</string>
	</array>
	<key>AppointmentPersonCount</key>
	<array>
		<string>12人</string>
		<string>9-12人</string>
		<string>5-8人</string>
		<string>2-4人</string>
		<string>1人</string>
	</array>
	<key>Emotion</key>
	<array>
		<string>单身</string>
		<string>热恋</string>
		<string>已婚</string>
	</array>
	<key>Constellation</key>
	<array>
		<string>双鱼座</string>
		<string>水瓶座</string>
		<string>摩羯座</string>
		<string>射手座</string>
		<string>天蝎座</string>
		<string>天秤座</string>
		<string>处女座</string>
		<string>狮子座</string>
		<string>巨蟹座</string>
		<string>双子座</string>
		<string>金牛座</string>
		<string>白羊座</string>
	</array>
	<key>Report</key>
	<array>
		<string>政治敏感</string>
		<string>色情低俗</string>
		<string>广告骚扰</string>
		<string>人生攻击</string>
		<string>声音违规</string>
		<string>其他</string>
	</array>
	<key>Role</key>
	<array>
		<string>用户</string>
		<string>酒吧</string>
	</array>
	<key>Sex</key>
	<array>
		<string>女</string>
		<string>男</string>
	</array>
</dict>
</plist>
